{% load static %}
    <div class="left-panel">
        <ul>
            <li class="profile">
                <img src="{% static 'img/authuser.png' %}" alt="">
                <p>Aashish Panthi</p>
            </li>
            <li>
                <i class="fa fa-user-friends"></i>
                <p>Friends</p>
            </li>
            <li>
                <i class="fa fa-users"></i>
                <p>Groups</p>
            </li>
            <li>
                <i class="fa fa-bookmark"></i>
                <p>Bookmark</p>
            </li>
            <li>
                <i class="fa fa-star"></i>
                <p>Favourites</p>
            </li>
        </ul>
    </div>