{% extends 'base.html' %}
{% block content %}
 <div >
    <h2 >Create a new account</h2>
     <form action="" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div >
                        <label for="" >{{ field.label_tag }} </label>
                        {{ field }}
                    </div>

                    <div>{{ field.errors }}</div>
                {% endfor %}
                <div >
                      <a href="{% url 'login' %}" >Already have an account?</a>
                     <button type="submit">Register</button>
                </div>               
           </form>
        </div>
{% endblock %}
