{% extends 'base.html' %} 

{% block content %}
       {% include 'includes/left-sidebar.html' %}

        <div class="">
            <a href="{% url 'index' %}" class="">Back to Posts</a>

              {% if feed.image %}
                 <img src="{{ feed.image.url }}" alt={{ feed.title }} class="">
              {% endif %}

            <div class="">
                <small class="">{{ feed.posted_at|timesince }} ago</small>
                <h3 class="">{{ feed.title }}</h3>
                 <p class="">{{ feed.description }}</p>
             </div>
        </div>
{% endblock %}
